/* google fonts */

.noto-serif-normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    /* max-width: 1440px; */
    background-color: aliceblue;
    margin: 0px;
    padding: 0px;
}
main{
    max-width: 1440px;
}

/* shared styles */
.dark-1 {
    color: #8987A1;
}

.dark-2 {
    color: black;
    font-weight: bold;
}

.dark-3 {
    color: #252432;
    font-weight: 600;
}

.dark-4 {
    color: black;
}

.text-pmy{
    font-weight: bold;
    font-size: 50px;
}
.text-color {
    color: #E95A08;
}

/* header styles */
.header {
    display: flex;
    max-width: 71.25rem;
    max-height: 4.43rem;
    margin: 30px auto;
    justify-items: center;
    justify-content: space-between;
    align-items: center;

}

.logo {
    margin-left: 2px;
    width: 8.4rem;
    height: 5.1rem;
}

/* nav styles */

ul {
    display: flex;
    gap: 3rem;
}

nav ul li {

    list-style: none;
}

li a {
    text-decoration: none;
}

/* banner styles */
.banner-content {
    margin-top: 162px;
}

.banner {
    display: flex;
    justify-items: center;
    margin: 120px auto;
    max-width: 71.25rem;
    max-height: 28.81rem;
}

.banner-title {
    margin: 0px;
    font-size: 4rem;
    font-weight: bold;
}

.banner-description {
    margin-top: 13px;
    margin-bottom: 0px;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}

.hero-img {
    margin-top: 106px;
    width: 35.62rem;
    height: 22.18rem;
}

/* our plants section */

.our-plants-container{
    max-width: 71.25rem;
    max-height: 74.125rem;
    margin: 120px auto;
}
.our-plants-heading{
    text-align: center;
}
.plants-title{
    font-weight: bold;
    font-size: 3.125rem;
    margin: 0px;
    padding: 0px;
}
.plants-description{
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}

/* cards style */
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 20px;
}
.card{
    margin-top: 50px;
    max-width: 100%;
    /* max-height: 30.25rem; */
    justify-items: center;
    border: 1px solid bisque;
}
.card-img{
    width: 100%;
    height: 20.125rem;
}

.card-content{
    text-align: center;
}
.card-title{
    font-weight: 600;
    font-size: 1.375rem;
    color: #111111;
   margin-bottom: 20px;
}
.card-description{
    font-weight: bold;
    font-size: 1.375rem;
    color: #111111;
    margin-bottom: 20px;
}
.btn{
    background-color: #E95A08;
    padding: 19px 80px;
    width: 100%;
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    color: #ffffff;
    border: none;

}
/* flower lover section */

.flower-lover-container{
    background-color: antiquewhite;
    max-width: 71.25rem;
    max-height: 37.31rem;
}
.flower-lover{
    display: flex;
    gap: 50px;
    margin: 0 auto;
}
.flower-lover-description{
    display: flex;
    flex-direction: column;
}
.flower-lover-img{
    width: 540px;
    height: 597px;
}

/* latest deal seaction */
.deal{
    text-align: center;
    
}
.deal-bloom{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
}
.deal-img2{
    border-radius: 22px;
}
.deals-container{
    display: flex;
    gap: 28px;
    width: 1140px;
    height: 423px;
    margin: 20px auto;
}
/* join section style */
.newsletter-img{
    background-image: url(../assets/news-letter-bg.png);
    max-width: 100%;
    max-height: 533px;
}
.newsletter-container{
    height: 533px;
}

/* footer section */
.footer{
    background-color: rgb(76, 167, 247);
}
/* small device responsive */
@media screen and (max-width: 576px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* 
  body, main {
    width: 100%;
    overflow-x: hidden;
  } */

  /* Header responsive */
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-top: 20px;
    width: 100%;
  }

  .logo {
    width: 80px;
    height: auto;
  }

  nav ul {
    gap: 10px;
  }

  nav ul li {
    display: none;
  }

  nav ul li.cart-item {
    display: block;
  }

  /* Banner responsive */
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    /* padding: 0 16px; */
    margin: 106px auto;
    max-width: 100%;
  }

  .banner-content {
    /* text-align: center; */
    margin: 20px 20px;
  }

  .banner-title {
    font-size: 24px;
    line-height: 1.2;
  }

  .banner-description {
    font-size: 14px;
    margin-top: 10px;
  }

  .img-container {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .hero-img {
    width: 100%;
    height: auto;
  }

  /* Our Plants Section */
  .our-plants-container {
    padding: 0 16px;
    margin: 40px auto;
    max-width: 100%;
  }

  .our-plants-heading {
    text-align: center;
    margin-top: 65px;
  }

  .plants-title {
    font-size: 24px;
  }

  .plants-description {
    font-size: 14px;
    margin: 10px 0;
  }
/* Our plants section */
@media screen and (max-width: 576px) {
  * {
  margin: 0;
  padding: 0;
}

body {

  margin: 0;
  padding: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.card img {
  width: 100%;
}
  /* .our-plants-heading {
    width: 393px;
    margin: ;
    padding: 0 16px;
  } */

  /* .plants-title {
    font-size: 24px;
  } */

  /* .plants-description {
    width: 336px;
    margin: 0 28px;
    font-size: 14px;
  }
} */