/* google fonts */

.noto-serif-normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: aliceblue;
    margin: 0px;
    padding: 0px;
}

/* shared styles */
.dark-1 {
    color: #8987A1;
}

.dark-2 {
    color: black;
    font-weight: bold;
}

.dark-3 {
    color: #252432;
    font-weight: 600;
}

.dark-4 {
    color: black;
}

.text-color {
    color: #E95A08;
}

/* header styles */
.header {
    display: flex;
    max-width: 71.25rem;
    max-height: 4.43rem;
    margin: 30px auto;
    justify-items: center;
    justify-content: space-between;
    align-items: center;

}

.logo {
    margin-left: 2px;
    width: 8.4rem;
    height: 5.1rem;
}

/* nav styles */

ul {
    display: flex;
    gap: 3rem;
}

nav ul li {

    list-style: none;
}

li a {
    text-decoration: none;
}

/* banner styles */
.banner-content {
    margin-top: 162px;
}

.banner {
    display: flex;
    justify-items: center;
    margin: 120px auto;
    max-width: 71.25rem;
    max-height: 28.81rem;
}

.banner-title {
    margin: 0px;
    font-size: 4rem;
    font-weight: bold;
}

.banner-description {
    margin-top: 13px;
    margin-bottom: 0px;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}

.hero-img {
    margin-top: 106px;
    width: 35.62rem;
    height: 22.18rem;
}

/* our plants section */

.our-plants-container{
    max-width: 71.25rem;
    max-height: 74.125rem;
    margin: 120px auto;
}
.our-plants-heading{
    text-align: center;
}
.plants-title{
    font-weight: bold;
    font-size: 3.125rem;
    margin: 0px;
    padding: 0px;
}
.plants-description{
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}

/* cards style */
.all-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 20px;
}
.card{
    margin-top: 50px;
    max-width: 16.875rem;
    max-height: 30.25rem;
    justify-items: center;
}
.card-img{
    width: 16.875rem;
    height: 20.125rem;
}

.card-content{
    text-align: center;
}
.card-title{
    font-weight: 600;
    font-size: 1.375rem;
    color: #111111;
   margin-bottom: 20px;
}
.card-description{
    font-weight: bold;
    font-size: 1.375rem;
    color: #111111;
    margin-bottom: 30px;
}
.btn{
    background-color: #E95A08;
    width: 16.875em;
    padding: 19px 80px;
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    color: #ffffff;

}

/* small device responsive */
@media screen and (max-width:576px) {
    .header {

        justify-items: center;
        align-items: center;
        margin-top: 30px auto 0px;
        width: calc(100% - 36px);
        height: 38px;
    }

    .logo {
        width: 63px;
        height: 38px;
    }

    nav ul li {
        display: none;
    }

    nav ul li.cart-item {
        display: block;
    }

    /* banner resposive */

    .banner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        max-width: 100%;
        padding: 0px;
        margin: 50px auto;

    }


    .banner-content {
        height: 147px;
        margin: 18px 16px;
    }

    .banner-title {
        font-weight: bold;
        font-size: 24px;
    }

    .banner-description {
        font-size: 14px;
    }

    .img-container {
        margin-bottom: 28px;
        width: 100%;
         height: 245px;
    }

    .hero-img {

        margin-top: 0px;
        width: 100%;
        height:100%;

    }
/* Our plants section */
.all-cards{
    grid-template-columns: repeat(2,1fr);
}